[user]
	name = Peanu
	email = peanu@southmax.com

[alias]
  ck = checkout
  cm = commit
  br = branch
  st = status
  rs = restore
  rss = restore --staged
  cp = cherry-pick
	cl = clean -fd
  lg = log --oneline --graph
  wk = worktree
	find = !git branch -a --contains

[core]
	autocrlf = input
	fileMode = true
  ignoreCase = true

[submodule]
	recurse = true

[pull]
	rebase = true
